.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .cover {
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        margin-bottom: 10px;

        @media screen and (width <=768px) {
            height: 255px;
        }
    }

    & .arrow {
        position: absolute;
        cursor: pointer;

        @media screen and (width <=768px) {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    & .arrow_left {
        left: 10px;

    }

    & .arrow_right {
        right: 10px;
    }

    & .counter {
        position: absolute;
        top: 357px;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        color: white;
        @media screen and (width <=768px) {
                display: none;
            }
    }
}