.tag {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: #455f45;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: white;

    @media screen and (width <=768px) {
        font-size: 10px;
        width: 85px;
        height: 18px;
        line-height: 18px;
    }
}